@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1c1914;
  --bg-secondary: #16130e;
  --bg-card: #2a2420;
  --text-primary: #ffffff;
  --text-secondary: #a89880;
  --accent-gold: #c49148;
  --accent-mahogany: #c48b61;
  --accent-light: #d4a050;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}